@charset "utf-8";

/* layout */

body {
   background-image: url(../img/fondo_mixto.jpg)
}

/* titulos */ 

h2 {
   color: #000;
   font-family: "Arial", sans-serif;
   text-align: center;
}

 /* tabla */

#centrado {
   text-align: center;
}

thead tr {
   text-align: center;
}

tbody td {
   text-align: center;
}

/*Nuevo*/

.form-label{
   color: black;
   font-size: 30px;
   font-weight: bolder;
}


body{
   margin-top:20px;
   text-align: left;   
}
.main-body {
   padding: 15px;
}

/*pa los botone bonicos*/
.btn-primary{
   color:#ffff00 !important;
   background-color: #000 !important;
   border-color: #ffff00 !important;
}