@charset "utf-8";
/* CSS Document */

/* layout */

#content {
   width: 1024px;
   margin: auto;
   background-color: #fff;
   border-radius: 25px;
   box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.3);
   -o-box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.3);
}

body {
   background: linear-gradient(to left, #b0c9e2, #e7f2fd);
}

/* sidebar */

a:link {
   text-decoration: none !important;
   font-family: "Arial", sans-serif;
   font-weight: bold;
   color: #000;
}

/* titulos */ 

h2 {
   color: #000;
   font-family: "Arial", sans-serif;
   text-align: center;

}

 /* tabla */

#centrado {
   text-align: center;
}

thead tr {
   text-align: center;
}

tbody td {
   text-align: center;
}